{% extends 'Homepage/base2.html' %}
{% load static %}
{% block title %}List{% endblock title %}
{% block main-content %}
<div class="wrapper">
	<div class="header">Search results from #####</div>

	<div class="cards_wrap">
		<div class="card_item">
			<div class="card_inner">
				<img src="black_panther.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="doctor_strange.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="black_widow.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="Spider_man.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="black_widow.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="black_panther.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="Spider_man.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="doctor_strange.png">
				<div class="role_name">Lorem</div>
				<div class="real_name">Lorem</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt aliqua.</div>
			</div>
            <button class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; margin-top:5px" type="submit">Rent</button>
		</div>
	</div>
</div>  

{% endblock main-content %}