{% extends 'Homepage/base2.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome <span class="text-capitalize">{{request.user.name}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    {% comment %} <li class="d-grid"><a href="{% url 'userprofile' %}" class="btn {{active}}">Profile</a></li> {% endcomment %}
   {% comment %} <li class="d-grid"><a href="{% url 'info' %}" class="btn">Personal Info</a></li> {% endcomment %}
   {% comment %} <li class="d-grid"><a href="{% url 'complaints' %}" class="btn">Complaints</a></li> {% endcomment %}
   {% if request.user.position == "Faculty" %}
   {% comment %} <li class="d-grid"><a href="{% url 'review' %}" class="btn">Review</a></li> {% endcomment %}
   {% endif %}
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    {% comment %} <form action="" method="post" novalidate>
      {% csrf_token %}
      {% for fm in form %}
      <div class ="form-group mb-3">
        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small>
      </div>   
      {% endfor %}
      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form> {% endcomment %}
    <label for="fname">Name:</label>
    <br><label for="fname">Email:</label>
    <br><label for="fname">Phonenumber:</label>
    <br><label for="fname">Vehicles:</label>
    <br><label for="fname">Garages:</label>
    <br><input type="submit" style="display: inline-block;padding: 8px 30px;background-color: #ffbe33;
    color:black;border-radius: 45px;-webkit-transition: all 0.3s;transition: all 0.3s;border: none;" value="Edit Information"> <br>
   {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %}class="alert alert-{{message.tags}} mb-5"{% endif %}>{{message}}</p>
        {% endfor %}
    {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}